version 2/Auto-Burglar-Detection-and-Data-Analytics-with-PIR-Sensors-and-Machine-Learning/Code/Node-Red-Flows/flows.json
[{"id":"b02137b5.a1f6a","type":"tab","label":"Smart Intrusion Detector","disabled":false,"info":""},{"id":"845f24c2.08d788","type":"mqtt in","z":"b02137b5.a1f6a","name":"PIR_MQTT","topic":"/feeds/motion","qos":"2","datatype":"auto","broker":"f66ab1c7.36e038","x":65,"y":230,"wires":[["b16d26d4.4ceac8"]]},{"id":"d2982512.7ba788","type":"arp","z":"b02137b5.a1f6a","name":"ARP","macs":"B0:55:08:E5:ED:D1","x":101.99999618530273,"y":371.3333511352539,"wires":[["2fa9eebf.42d6aa"]]},{"id":"2fa9eebf.42d6aa","type":"change","z":"b02137b5.a1f6a","name":"mac","rules":[{"t":"set","p":"topic","pt":"msg","to":"mac","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":367,"wires":[["ea15b1c0.2e8978"]]},{"id":"b52cf237.c105a","type":"ui_switch","z":"b02137b5.a1f6a","name":"","label":"Online switch","tooltip":"","group":"20545996.319dee","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":90.00000762939453,"y":285.33334159851074,"wires":[["e6f811c.b374d7"]]},{"id":"9efa4b48.3e1e1","type":"function","z":"b02137b5.a1f6a","name":"dummy","func":"if (msg.payload===true)\n    msg.payload=1;\nelse\n    msg.payload=0;\n \nreturn msg;","outputs":1,"noerr":0,"x":498.6666564941406,"y":292.33331298828125,"wires":[["d93efdd.6ece98","cc563e26.31ea68","3c4ba76.6f91958","3580394a.a5ab56"]]},{"id":"e6f811c.b374d7","type":"change","z":"b02137b5.a1f6a","name":"switch","rules":[{"t":"set","p":"topic","pt":"msg","to":"switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":282,"y":307.3333435058594,"wires":[["9efa4b48.3e1e1"]]},{"id":"caae85b1.9280c8","type":"function","z":"b02137b5.a1f6a","name":"format date","func":"//var newDate = new Date();\n//currentDate = newDate.today()  + \" \" +  newDate.timeNow();\n//msg.payload=currentDate\n//return msg;\n\n//var today = new Date();\n//var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate() + \" \" + today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n//msg.payload=date\n//return msg;\n\nDate.prototype.today = function () { \n    return ((this.getDate() < 10)?\"0\":\"\") + this.getDate() +\"/\"+(((this.getMonth()+1) < 10)?\"0\":\"\") + (this.getMonth()+1) +\"/\"+ this.getFullYear();\n}\n\n// For the time now\nDate.prototype.timeNow = function () {\n     return ((this.getHours() < 10)?\"0\":\"\") + this.getHours() +\":\"+ ((this.getMinutes() < 10)?\"0\":\"\") + this.getMinutes() +\":\"+ ((this.getSeconds() < 10)?\"0\":\"\") + this.getSeconds();\n}\n\nvar newDate = new Date();\nvar date = newDate.today() \nvar time = newDate.timeNow();\n\nmsg.payload=date + \" \" + time\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":143,"wires":[["d93efdd.6ece98","fa862531.f5fd5","2e68e407.083aac"]]},{"id":"377a5cf8.669314","type":"change","z":"b02137b5.a1f6a","name":"MotionPIR","rules":[{"t":"set","p":"topic","pt":"msg","to":"MotionPIR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":289.00000762939453,"y":235.57142639160156,"wires":[["f4669bb2.0e776"]]},{"id":"a4cd4ed1.cb9a4","type":"change","z":"b02137b5.a1f6a","name":"time","rules":[{"t":"set","p":"topic","pt":"msg","to":"time","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":87,"y":156.99999904632568,"wires":[["caae85b1.9280c8"]]},{"id":"ea15b1c0.2e8978","type":"switch","z":"b02137b5.a1f6a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":360,"wires":[["8ba3eff4.3315e"],["2880d32.4c2a4ac"]]},{"id":"8ba3eff4.3315e","type":"function","z":"b02137b5.a1f6a","name":"Absent ?","func":"msg.payload=0\nreturn msg;","outputs":1,"noerr":0,"x":543.9999961853027,"y":337.99999809265137,"wires":[["72ae5ac5.17d4cc"]]},{"id":"2880d32.4c2a4ac","type":"function","z":"b02137b5.a1f6a","name":"Present ?","func":"var a = msg.payload[0].mac;\nif (a===\"b0:55:08:e5:ed:d1\"){\n    msg.payload=1;\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":541.2500152587891,"y":415.2500114440918,"wires":[["72ae5ac5.17d4cc"]]},{"id":"72ae5ac5.17d4cc","type":"function","z":"b02137b5.a1f6a","name":"mac status","func":"\nreturn msg;","outputs":1,"noerr":0,"x":696,"y":368.0000305175781,"wires":[["d93efdd.6ece98","98fdb440.c91c4","3c4ba76.6f91958","cc563e26.31ea68","67810a86.7cc35c","3580394a.a5ab56"]]},{"id":"c658f3c0.8de168","type":"switch","z":"b02137b5.a1f6a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":617.7500343322754,"y":151.25000381469727,"wires":[["d93efdd.6ece98"]]},{"id":"f4669bb2.0e776","type":"function","z":"b02137b5.a1f6a","name":"type convert","func":"if (msg.payload===\"Motion\")\n{\n    msg.payload=1\n}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":452.07143783569336,"y":241.28572607040405,"wires":[["c658f3c0.8de168","b52cf237.c105a","d2982512.7ba788","62a2d73b.44c3c8","620c453b.6e2d0c","a4cd4ed1.cb9a4","9d1a8c00.f0b54","32baee5f.33781a"]]},{"id":"d93efdd.6ece98","type":"join","z":"b02137b5.a1f6a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":768.7500190734863,"y":221.00001525878906,"wires":[["31b940b3.ae7028"]]},{"id":"31b940b3.ae7028","type":"csv","z":"b02137b5.a1f6a","name":"CSV Conv","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"time,MotionPIR,switch,mac","skip":"0","x":984.7501373291016,"y":209.50000095367432,"wires":[["598f7fc0.6d4008","802b7f0a.6123b"]]},{"id":"598f7fc0.6d4008","type":"file","z":"b02137b5.a1f6a","name":"","filename":"/home/manish/env/datalog.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1221.9999694824219,"y":169.00000190734863,"wires":[[]]},{"id":"62a2d73b.44c3c8","type":"totaliser","z":"b02137b5.a1f6a","output":"sum","interval":"5","intervalUnits":"minutes","name":"Sum of motion in 5 minutes","x":837,"y":263.00000953674316,"wires":[["103ec401.541014"]]},{"id":"eb5efb8d.e9e52","type":"function","z":"b02137b5.a1f6a","name":"Obtain_Total_Count","func":"msg.payload=msg.payload.total;\nreturn msg;","outputs":1,"noerr":0,"x":1280.0000610351562,"y":277.99999809265137,"wires":[["28ebe955.89651e","9bfbd0b6.4db56","d1317230.39665","cc563e26.31ea68","6f29e0b2.6d4bc8","4efc7df5.d7e504","20e9e80.3223018","f19c8f58.52ed1","659e621c.e0150c","4b4ed548.ef3c84"]]},{"id":"28ebe955.89651e","type":"ui_chart","z":"b02137b5.a1f6a","name":"","group":"87761ed.ad73d6","order":3,"width":0,"height":0,"label":"Motion in last 5 min","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1590.0000953674316,"y":317.0000057220459,"wires":[[]]},{"id":"866e3a27.e6801","type":"influxdb out","z":"b02137b5.a1f6a","influxdb":"ae6d44bf.1a31c8","name":"","measurement":"Motion","precision":"","retentionPolicy":"","x":1496,"y":581,"wires":[]},{"id":"c7132cbf.d834f","type":"influxdb out","z":"b02137b5.a1f6a","influxdb":"ae6d44bf.1a31c8","name":"","measurement":"Switch","precision":"","retentionPolicy":"","x":1493,"y":537,"wires":[]},{"id":"309ead6a.1b88d2","type":"influxdb out","z":"b02137b5.a1f6a","influxdb":"ae6d44bf.1a31c8","name":"","measurement":"Mac","precision":"","retentionPolicy":"","x":1471.5714721679688,"y":694.2857437133789,"wires":[]},{"id":"874945e4.18481","type":"pythonshell in","z":"b02137b5.a1f6a","name":"histrorical 5 mins - 1","pyfile":"/home/manish/env/primaryhistoricalsearch.py","virtualenv":"/home/manish/env","continuous":false,"stdInData":false,"x":465.1428527832031,"y":20,"wires":[["3bd17023.3ac43"]]},{"id":"103ec401.541014","type":"change","z":"b02137b5.a1f6a","name":"last5min","rules":[{"t":"set","p":"topic","pt":"msg","to":"last5min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1079,"y":303,"wires":[["eb5efb8d.e9e52"]]},{"id":"75ccf808.cbf928","type":"pythonshell in","z":"b02137b5.a1f6a","name":"historical 10 mins","pyfile":"/home/manish/env/primaryhistoricalsearch10min.py","virtualenv":"/home/manish/env","continuous":false,"stdInData":false,"x":478.5257263183594,"y":121.46038818359375,"wires":[["dd97434a.b7fc5"]]},{"id":"62244559.f83834","type":"change","z":"b02137b5.a1f6a","name":"avgnow","rules":[{"t":"set","p":"topic","pt":"msg","to":"avgnow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1118.8231201171875,"y":41.813621520996094,"wires":[["d1317230.39665"]]},{"id":"f2325748.a802","type":"function","z":"b02137b5.a1f6a","name":"to float","func":"var a = msg.payload;\nvar b = parseFloat(a);\nvar c = b.toFixed(2);\nmsg.payload = c;\nreturn msg;\n","outputs":1,"noerr":0,"x":759.3867797851562,"y":21,"wires":[["a25b2d22.ed091"]]},{"id":"2db61327.6613c4","type":"change","z":"b02137b5.a1f6a","name":"avg10","rules":[{"t":"set","p":"topic","pt":"msg","to":"avg10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":764.95849609375,"y":156.2500228881836,"wires":[["a895b0e2.b95668"]]},{"id":"dd97434a.b7fc5","type":"function","z":"b02137b5.a1f6a","name":"to float","func":"var a = msg.payload;\nvar b = parseFloat(a);\nmsg.payload = b;\nreturn msg;\n","outputs":1,"noerr":0,"x":630.6724243164062,"y":111.39453887939453,"wires":[["2db61327.6613c4"]]},{"id":"620c453b.6e2d0c","type":"totaliser","z":"b02137b5.a1f6a","output":"sum","interval":"10","intervalUnits":"minutes","name":"Sum of motion in 10 minutes","x":840.5,"y":310,"wires":[["2a2782ce.8be3d6"]]},{"id":"2a2782ce.8be3d6","type":"change","z":"b02137b5.a1f6a","name":"last10min","rules":[{"t":"set","p":"topic","pt":"msg","to":"last10min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1096.5,"y":346,"wires":[["652811b0.e106d8"]]},{"id":"652811b0.e106d8","type":"function","z":"b02137b5.a1f6a","name":"Obtain Total Count","func":"msg.payload=msg.payload.total;\nreturn msg;","outputs":1,"noerr":0,"x":1278.5,"y":348.99999809265137,"wires":[[]]},{"id":"d1317230.39665","type":"join","z":"b02137b5.a1f6a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1243.4999694824219,"y":74.28571510314941,"wires":[["95b88cc5.7e00f"]]},{"id":"95b88cc5.7e00f","type":"function","z":"b02137b5.a1f6a","name":"CheckAlgo1","func":"var hist5min = msg.payload.avgnow;\nvar last5min = msg.payload.last5min;\n//var current10min = msg.payload.avg10;\n//var last10min = msg.payload.last10min;\n\nif(last5min > hist5min)\n{\n    msg.payload=\"Intrusion\";\n    return msg;\n}\n\nelse if(last5min <= hist5min)\n{\n    msg.payload=\"Peace\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1391.357265472412,"y":73.28571701049805,"wires":[["d2982512.7ba788","b52cf237.c105a","6a57a0a8.f942f"]]},{"id":"9bfbd0b6.4db56","type":"ui_gauge","z":"b02137b5.a1f6a","name":"","group":"87761ed.ad73d6","order":2,"width":0,"height":0,"gtype":"donut","title":"","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1565.0000381469727,"y":254.000018119812,"wires":[]},{"id":"98fdb440.c91c4","type":"ui_gauge","z":"b02137b5.a1f6a","name":"","group":"20545996.319dee","order":5,"width":0,"height":0,"gtype":"gage","title":"Mobile MAC","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":911,"y":368,"wires":[]},{"id":"dab246d2.d87ec","type":"inject","z":"b02137b5.a1f6a","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":94,"y":33,"wires":[["5f4a2407.15d904"]]},{"id":"5f4a2407.15d904","type":"function","z":"b02137b5.a1f6a","name":"format date","func":"//var newDate = new Date();\n//currentDate = newDate.today()  + \" \" +  newDate.timeNow();\n//msg.payload=currentDate\n//return msg;\n\n//var today = new Date();\n//var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate() + \" \" + today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n//msg.payload=date\n//return msg;\n\nDate.prototype.today = function () { \n    return ((this.getDate() < 10)?\"0\":\"\") + this.getDate() +\"/\"+(((this.getMonth()+1) < 10)?\"0\":\"\") + (this.getMonth()+1) +\"/\"+ this.getFullYear();\n}\n\n// For the time now\nDate.prototype.timeNow = function () {\n     return ((this.getHours() < 10)?\"0\":\"\") + this.getHours() +\":\"+ ((this.getMinutes() < 10)?\"0\":\"\") + this.getMinutes() +\":\"+ ((this.getSeconds() < 10)?\"0\":\"\") + this.getSeconds();\n}\n\nvar newDate = new Date();\nvar date = newDate.today() \nvar time = newDate.timeNow();\n\nmsg.payload=date + \" \" + time\nreturn msg;","outputs":1,"noerr":0,"x":262.42858123779297,"y":39.571428298950195,"wires":[["874945e4.18481","f16986b5.5416b","5ce8462a.70ed28","258b6f92.fd11f"]]},{"id":"1a80d176.253e6f","type":"inject","z":"b02137b5.a1f6a","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":99.00000381469727,"y":101.14285659790039,"wires":[["7f8cfbe0.6d9444"]]},{"id":"7f8cfbe0.6d9444","type":"function","z":"b02137b5.a1f6a","name":"format date","func":"//var newDate = new Date();\n//currentDate = newDate.today()  + \" \" +  newDate.timeNow();\n//msg.payload=currentDate\n//return msg;\n\n//var today = new Date();\n//var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate() + \" \" + today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n//msg.payload=date\n//return msg;\n\nDate.prototype.today = function () { \n    return ((this.getDate() < 10)?\"0\":\"\") + this.getDate() +\"/\"+(((this.getMonth()+1) < 10)?\"0\":\"\") + (this.getMonth()+1) +\"/\"+ this.getFullYear();\n}\n\n// For the time now\nDate.prototype.timeNow = function () {\n     return ((this.getHours() < 10)?\"0\":\"\") + this.getHours() +\":\"+ ((this.getMinutes() < 10)?\"0\":\"\") + this.getMinutes() +\":\"+ ((this.getSeconds() < 10)?\"0\":\"\") + this.getSeconds();\n}\n\nvar newDate = new Date();\nvar date = newDate.today() \nvar time = newDate.timeNow();\n\nmsg.payload=date + \" \" + time\nreturn msg;","outputs":1,"noerr":0,"x":260.42857360839844,"y":100.28571701049805,"wires":[["75ccf808.cbf928"]]},{"id":"a895b0e2.b95668","type":"join","z":"b02137b5.a1f6a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":895.1428833007812,"y":146.42857360839844,"wires":[[]]},{"id":"d9fba179.e625a8","type":"function","z":"b02137b5.a1f6a","name":"","func":"var a = msg.payload.algo;\nvar b = msg.payload.mac;\nvar c = msg.payload.switch;\n\nif(a === \"Intrusion\") \n{\n    if ( c === 1 && b === 1)\n    {\n        msg.payload = \"Intrusion\";\n    }\n    else if (c === 0 && b === 0)\n    {\n        msg.payload = \"Detections are observed, Either Online Switch/ mobile wifi misconfigured, else suspects a intrusion\";\n    }\n    else if (c ===1 && b === 0)\n    {\n       msg.payload = \"Detections are observed, Either Online Switch/ mobile wifi misconfigured, else suspects a intrusion\"; \n    }\n    else if ( c === 0 && b===1 )\n    {\n        msg.payload = \"Detections are observed, Either Online Switch/ mobile wifi misconfigured, else suspects a intrusion\";\n    }\n}\nelse if (a === \"Peace\")\n{\n   msg.payload = a; \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1722.3152160644531,"y":128.40625,"wires":[["769b7ad3.4024f4","9d05f634.b2e2a8","e06db7e8.58f418","cf66b863.ca8358"]]},{"id":"3c4ba76.6f91958","type":"join","z":"b02137b5.a1f6a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1592.2143173217773,"y":135.1428508758545,"wires":[["d9fba179.e625a8"]]},{"id":"6f29e0b2.6d4bc8","type":"debug","z":"b02137b5.a1f6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1923.333610534668,"y":357,"wires":[]},{"id":"ab2d9d12.451b38","type":"function","z":"b02137b5.a1f6a","name":"Parsing TimeIndex","func":"var datetime = msg.payload;\ns = datetime;\ndatetime = datetime.split(\" \")\n\nvar times = [];\n\nvar time = datetime[1];\n\n\n\n \nvar a = time.split(':'); \nvar minutes = (+a[0]) * 60 + (+a[1]);\nvar timeindex = minutes/5;\ntimeindex = Math.floor(timeindex);\n\n// if (!context.t) {\n//   context.t = [];\n// }\n// context.t.push(timeindex);\n// msg.payload = context.t;\n\n\nmsg.payload = timeindex;\nreturn msg; \n\n\n// msg.payload = timeindex;\n\n\n\n// return msg;","outputs":1,"noerr":0,"x":375.2857093811035,"y":520.2857389450073,"wires":[["cc563e26.31ea68"]]},{"id":"228331d8.81f046","type":"function","z":"b02137b5.a1f6a","name":"Parsing WDay","func":"var d = new Date();\nvar weekday = new Array(7);\nweekday[0] =  \"Sunday\";\nweekday[1] = \"Monday\";\nweekday[2] = \"Tuesday\";\nweekday[3] = \"Wednesday\";\nweekday[4] = \"Thursday\";\nweekday[5] = \"Friday\";\nweekday[6] = \"Saturday\";\n\n\nvar n = weekday[d.getDay()];\n\n// if (n === \"Sunday\"){\n//      msg.payload = 1;\n//  } \n//  else if (n === \"Monday\"){\n//      msg.payload = 2;\n//  } \n//  else if (n ===\"Tuesday\"){\n//      msg.payload = 3;\n//  } \n//  else if (n === \"Wednesday\"){\n//      msg.payload = 4;\n//  } \n//  else if (n ===  \"Thursday\"){\n//      msg.payload = 5;\n//  } \n//  else if (n === \"Friday\" ){\n//      msg.payload = 6;\n//  } \n//  else if (n === \"Saturday\"){\n//      msg.payload = 7;\n//  }\n\nmsg.payload = n;\n\nreturn msg;","outputs":1,"noerr":0,"x":343.14284896850586,"y":469.2857084274292,"wires":[["cc563e26.31ea68","49c85e2e.7bfb78"]]},{"id":"2e68e407.083aac","type":"change","z":"b02137b5.a1f6a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"wday","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":145,"y":484,"wires":[["228331d8.81f046"]]},{"id":"fa862531.f5fd5","type":"change","z":"b02137b5.a1f6a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"timeindex","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":146,"y":536,"wires":[["ab2d9d12.451b38"]]},{"id":"cc563e26.31ea68","type":"join","z":"b02137b5.a1f6a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":826,"y":479,"wires":[[]]},{"id":"5ce8462a.70ed28","type":"pythonshell in","z":"b02137b5.a1f6a","name":"IQR prediction","pyfile":"/home/manish/env/iqrprediction.py","virtualenv":"/home/manish/env","continuous":false,"stdInData":false,"x":580,"y":560,"wires":[["b6117c5f.64162"]]},{"id":"769b7ad3.4024f4","type":"function","z":"b02137b5.a1f6a","name":"","func":"if (msg.payload === \"Intrusion\")\n{\nvar newDate = new Date();\nvar date = newDate.today() \nvar time = newDate.timeNow();\nmsg.payload=date + \" \" + time\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":1923.5000762939453,"y":149.00001430511475,"wires":[["f36ab94.c8d14c8"]]},{"id":"f36ab94.c8d14c8","type":"pythonshell in","z":"b02137b5.a1f6a","name":"historical 5 mins - 2","pyfile":"/home/manish/env/secondaryhistoricalsearch.py","virtualenv":"/home/manish/env","continuous":false,"stdInData":false,"x":2114.5,"y":156,"wires":[["f34c3738.c9c8c8","86196e3f.8c2d9"]]},{"id":"f34c3738.c9c8c8","type":"switch","z":"b02137b5.a1f6a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":2303,"y":155,"wires":[["1b83e9d0.41e2d6"],["c5810701.dc36a"]]},{"id":"1b83e9d0.41e2d6","type":"function","z":"b02137b5.a1f6a","name":"","func":"msg.payload = \"High Intrusion Probability\";\nreturn msg;","outputs":1,"noerr":0,"x":2441.1667709350586,"y":109.33333492279053,"wires":[["21ae4c46.b0e39c"]]},{"id":"c5810701.dc36a","type":"function","z":"b02137b5.a1f6a","name":"","func":"return msg;","outputs":1,"noerr":0,"x":2457.5,"y":212,"wires":[["9502eb81.e1c78"]]},{"id":"9502eb81.e1c78","type":"function","z":"b02137b5.a1f6a","name":"","func":"var a = msg.payload;\nvar b = parseFloat(a);\nmsg.payload = b;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2604.1665802001953,"y":219.3333282470703,"wires":[["779a9e0a.d5384","86196e3f.8c2d9"]]},{"id":"4efc7df5.d7e504","type":"join","z":"b02137b5.a1f6a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2463.0000343322754,"y":288.00000381469727,"wires":[["9ba62b0b.2fb37","86196e3f.8c2d9"]]},{"id":"779a9e0a.d5384","type":"change","z":"b02137b5.a1f6a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"abnormal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2780.523582458496,"y":211.88672924041748,"wires":[["4efc7df5.d7e504"]]},{"id":"2346d91c.59db3e","type":"ui_gauge","z":"b02137b5.a1f6a","name":"","group":"92c08d7f.26409","order":7,"width":0,"height":0,"gtype":"donut","title":"","label":"units","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1059.8529052734375,"y":93.42057418823242,"wires":[]},{"id":"a231499a.a3fe8","type":"ui_chart","z":"b02137b5.a1f6a","name":"","group":"92c08d7f.26409","order":3,"width":0,"height":0,"label":"Motion in last 5 min","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1299.5196533203125,"y":20,"wires":[[]]},{"id":"ee04b50e.b351e","type":"ui_text","z":"b02137b5.a1f6a","group":"3d0b4639.afb72a","order":3,"width":10,"height":1,"name":"","label":"Historical Secondary Search Check :","format":"{{msg.payload}}","layout":"row-spread","x":2946.484233856201,"y":77.00390720367432,"wires":[]},{"id":"9ba62b0b.2fb37","type":"function","z":"b02137b5.a1f6a","name":"","func":"var a = msg.payload.last5min;\nvar b = msg.payload.abnormal;\nvar c = b + b * (150/100);\n\nif ( a > c )\n{\n    msg.payload = \"High Intrusion Probability\";\n    return msg;\n}\nelse if (c >= a )\n{\n    msg.payload = \"Chances of Intrusion\";\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":2756.5194931030273,"y":297.0039348602295,"wires":[["f2c05406.31e3b"]]},{"id":"258b6f92.fd11f","type":"pythonshell in","z":"b02137b5.a1f6a","name":"Distribution Statistics","pyfile":"/home/manish/env/stdprediction.py","virtualenv":"/home/manish/env","continuous":false,"stdInData":false,"x":635.4480819702148,"y":611.5753421783447,"wires":[["c6d6db5d.09bf58"]]},{"id":"6a64c8f.e294938","type":"ui_text","z":"b02137b5.a1f6a","group":"3d0b4639.afb72a","order":14,"width":0,"height":0,"name":"","label":"Interquartile :","format":"{{msg.payload}}","layout":"row-spread","x":959.7696533203125,"y":566.00390625,"wires":[]},{"id":"29d1bac9.4f6346","type":"ui_text","z":"b02137b5.a1f6a","group":"3d0b4639.afb72a","order":15,"width":0,"height":0,"name":"","label":"Standard deviation :","format":"{{msg.payload}}","layout":"row-spread","x":986.1982269287109,"y":612.8610782623291,"wires":[]},{"id":"6a57a0a8.f942f","type":"change","z":"b02137b5.a1f6a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"algo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1639.6446266174316,"y":62.250000953674316,"wires":[["3c4ba76.6f91958"]]},{"id":"9d05f634.b2e2a8","type":"ui_text","z":"b02137b5.a1f6a","group":"3d0b4639.afb72a","order":2,"width":0,"height":0,"name":"","label":"Historical Primary Search Check : ","format":"{{msg.payload}}","layout":"row-spread","x":1932.01953125,"y":204.00390625,"wires":[]},{"id":"67810a86.7cc35c","type":"debug","z":"b02137b5.a1f6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000.39453125,"y":444.65234375,"wires":[]},{"id":"e06db7e8.58f418","type":"debug","z":"b02137b5.a1f6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1944.6486434936523,"y":51.660231590270996,"wires":[]},{"id":"b6117c5f.64162","type":"function","z":"b02137b5.a1f6a","name":"","func":"var a = msg.payload;\n\nDate.prototype.today = function () { \n    return ((this.getDate() < 10)?\"0\":\"\") + this.getDate() +\"/\"+(((this.getMonth()+1) < 10)?\"0\":\"\") + (this.getMonth()+1) +\"/\"+ this.getFullYear();\n}\n\n// For the time now\nDate.prototype.timeNow = function () {\n     return ((this.getHours() < 10)?\"0\":\"\") + this.getHours() +\":\"+ ((this.getMinutes() < 10)?\"0\":\"\") + this.getMinutes() +\":\"+ ((this.getSeconds() < 10)?\"0\":\"\") + this.getSeconds();\n}\n\nvar newDate = new Date();\nvar date = newDate.today() \nvar time = newDate.timeNow();\n\nmsg.payload= time + \" \"+ \"is\" + \" \" + a\nreturn msg;\n","outputs":1,"noerr":0,"x":805.5,"y":568,"wires":[["6a64c8f.e294938"]]},{"id":"c6d6db5d.09bf58","type":"function","z":"b02137b5.a1f6a","name":"","func":"var a = msg.payload;\n\nDate.prototype.today = function () { \n    return ((this.getDate() < 10)?\"0\":\"\") + this.getDate() +\"/\"+(((this.getMonth()+1) < 10)?\"0\":\"\") + (this.getMonth()+1) +\"/\"+ this.getFullYear();\n}\n\n// For the time now\nDate.prototype.timeNow = function () {\n     return ((this.getHours() < 10)?\"0\":\"\") + this.getHours() +\":\"+ ((this.getMinutes() < 10)?\"0\":\"\") + this.getMinutes() +\":\"+ ((this.getSeconds() < 10)?\"0\":\"\") + this.getSeconds();\n}\n\nvar newDate = new Date();\nvar date = newDate.today() \nvar time = newDate.timeNow();\n\nmsg.payload= time + \"  \" + a\nreturn msg;\n","outputs":1,"noerr":0,"x":812.0000228881836,"y":614.714319229126,"wires":[["29d1bac9.4f6346"]]},{"id":"640015ab.a2df8c","type":"arp","z":"b02137b5.a1f6a","name":"ARP","macs":"F0:D7:AA:A9:D3:2A","x":281.42860412597656,"y":695.7142400741577,"wires":[["fedc3cfa.339f5"]]},{"id":"ed0f517c.7a546","type":"inject","z":"b02137b5.a1f6a","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":122.85713958740234,"y":731.4285364151001,"wires":[["640015ab.a2df8c","303be80.d055b18","26908916.394ff6"]]},{"id":"6119faa2.769a2c","type":"switch","z":"b02137b5.a1f6a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":441.6666831970215,"y":695.7144451141357,"wires":[["b7550a98.304c3"],["a707d052.9f4b58"]]},{"id":"b7550a98.304c3","type":"function","z":"b02137b5.a1f6a","name":"Absent ?","func":"msg.payload=0\nreturn msg;","outputs":1,"noerr":0,"x":564.0000534057617,"y":670.857177734375,"wires":[["9c539451.957588"]]},{"id":"a707d052.9f4b58","type":"function","z":"b02137b5.a1f6a","name":"Present ?","func":"var a = msg.payload[0].mac;\nif (a===\"f0:d7:aa:a9:d3:2a\"){\n    msg.payload=1;\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":565.5358009338379,"y":726.6787071228027,"wires":[["9c539451.957588"]]},{"id":"9c539451.957588","type":"function","z":"b02137b5.a1f6a","name":"mac status","func":"\nreturn msg;","outputs":1,"noerr":0,"x":727.428581237793,"y":705.1430072784424,"wires":[[]]},{"id":"303be80.d055b18","type":"moment","z":"b02137b5.a1f6a","name":"","topic":"time","input":"","inputType":"date","inTz":"Europe/Berlin","adjAmount":"0","adjType":"hours","adjDir":"add","format":"","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Berlin","x":288.5714340209961,"y":795.7143363952637,"wires":[["90eedcdf.27cf48"]]},{"id":"90eedcdf.27cf48","type":"function","z":"b02137b5.a1f6a","name":"Formatting time","func":"var string=msg.payload;\nvar length = 19;\nstring = string.replace(/T/g,' ');\nstring = string.replace(/Z/g,' ');\nvar trimmedString = string.substring(0, length);\nmsg.payload=trimmedString;\nreturn msg;","outputs":1,"noerr":0,"x":442.85718536376953,"y":792.8572120666504,"wires":[["4b8141aa.b5cdf8"]]},{"id":"4b8141aa.b5cdf8","type":"ui_text","z":"b02137b5.a1f6a","group":"20545996.319dee","order":2,"width":0,"height":0,"name":"","label":"now :","format":"{{msg.payload}}","layout":"row-spread","x":601.4286003112793,"y":791.4286079406738,"wires":[]},{"id":"49c85e2e.7bfb78","type":"ui_text","z":"b02137b5.a1f6a","group":"20545996.319dee","order":1,"width":0,"height":0,"name":"Day","label":"Day","format":"{{msg.payload}}","layout":"row-spread","x":355.71428298950195,"y":598.571455001831,"wires":[]},{"id":"b16d26d4.4ceac8","type":"function","z":"b02137b5.a1f6a","name":"SplitMQQTMessage","func":"var a = msg.payload;\nvar array = a.split(\"/\");\n\nvar first = array[0];\nvar second = parseFloat(array[1]);\n\nvar msg1 = {payload:first};\nvar msg2 = {payload:second};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":311,"y":420,"wires":[["377a5cf8.669314"],["4e13a693.497538","dd94865.fab7ff8"]]},{"id":"4e13a693.497538","type":"function","z":"b02137b5.a1f6a","name":"BatteryStatus","func":"if (msg.payload > 4.3){\n    msg.payload= \"Battery Healthy\"\n}\n\nelse{\n    msg.payload=\"Please replace the battery\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":185.5,"y":608,"wires":[["13b376a7.dd2f21"]]},{"id":"dd94865.fab7ff8","type":"ui_gauge","z":"b02137b5.a1f6a","name":"","group":"87761ed.ad73d6","order":4,"width":6,"height":3,"gtype":"gage","title":"ESP Battery Stats","label":"volts","format":"{{value}}","min":0,"max":"5.2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3.5","seg2":"","x":195.5,"y":658,"wires":[]},{"id":"13b376a7.dd2f21","type":"ui_text","z":"b02137b5.a1f6a","group":"87761ed.ad73d6","order":5,"width":6,"height":1,"name":"","label":"Battery Health Status","format":"{{msg.payload}}","layout":"row-spread","x":423.5,"y":650,"wires":[]},{"id":"4b4ed548.ef3c84","type":"pythonshell in","z":"b02137b5.a1f6a","name":"LSTM","pyfile":"/home/manish/env/apilink.py","virtualenv":"/home/manish/env","continuous":false,"stdInData":false,"x":391.99999618530273,"y":884.8571453094482,"wires":[["516445d5.4fd94c","8d1a855.fb70b78"]]},{"id":"516445d5.4fd94c","type":"function","z":"b02137b5.a1f6a","name":"to float","func":"var a = msg.payload;\nvar b = parseFloat(a);\nvar c = b.toFixed(2);\nmsg.payload = c;\nreturn msg;\n","outputs":1,"noerr":0,"x":525.0000305175781,"y":885.5714111328125,"wires":[["9440ed6c.61478"]]},{"id":"c3a4c65b.cba298","type":"ui_gauge","z":"b02137b5.a1f6a","name":"","group":"3d0b4639.afb72a","order":5,"width":6,"height":3,"gtype":"gage","title":"LSTM Prediction","label":"units","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":789.1665878295898,"y":1117.3333377838135,"wires":[]},{"id":"8aa6dc4d.dfe568","type":"ui_text","z":"b02137b5.a1f6a","group":"3d0b4639.afb72a","order":9,"width":0,"height":0,"name":"","label":"LSTM Live Predictions :","format":"{{msg.payload}}","layout":"row-spread","x":765.4999694824219,"y":1072.6666851043701,"wires":[]},{"id":"9440ed6c.61478","type":"delay","z":"b02137b5.a1f6a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":799.3334045410156,"y":962.9048233032227,"wires":[["df73adf1.5d4c98","c2b9cac2.0b45c8"]]},{"id":"c1faa2d6.6588c8","type":"join","z":"b02137b5.a1f6a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":951.6668357849121,"y":816.9999923706055,"wires":[["f4f4a7dc.d90be"]]},{"id":"f4f4a7dc.d90be","type":"function","z":"b02137b5.a1f6a","name":"MotionDiff4LSTM","func":"var last5min = msg.payload.last5min;\nvar last10min = msg.payload.last10min;\n\nvar difference = last10min - last5min;\n\nmsg.payload = difference;\nreturn msg;","outputs":1,"noerr":0,"x":1138.5000228881836,"y":805.0000514984131,"wires":[["ba0220b2.33056"]]},{"id":"df73adf1.5d4c98","type":"change","z":"b02137b5.a1f6a","name":"LSTMoutput","rules":[{"t":"set","p":"topic","pt":"msg","to":"LSTMoutput","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":992.3333511352539,"y":890.6666412353516,"wires":[["f19c8f58.52ed1","20e9e80.3223018"]]},{"id":"ba0220b2.33056","type":"change","z":"b02137b5.a1f6a","name":"difference","rules":[{"t":"set","p":"topic","pt":"msg","to":"difference","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1375.666904449463,"y":796.6666774749756,"wires":[[]]},{"id":"f19c8f58.52ed1","type":"join","z":"b02137b5.a1f6a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1660.9998359680176,"y":862.3334255218506,"wires":[["fdcbca65.8823b8","d6467214.65d098"]]},{"id":"fdcbca65.8823b8","type":"function","z":"b02137b5.a1f6a","name":"LSTMCheck","func":"var lstmpred = parseFloat(msg.payload.LSTMoutput);\nvar last5minmot = msg.payload.last5min;\n\nvar lstmgrlst = lstmpred - last5minmot;\nvar lstgrlstm = last5minmot - lstmpred ;\n\nif (lstmgrlst > 5)\n{\n    msg.payload = \"Chances of Intrusion / Switch misconfigured\";\n}\n\nelse if(lstgrlstm > 5)\n{\n    msg.payload = \"Chances of Intrusion / Switch misconfigured\";\n}\n\nelse {\n    msg.payload = \"Peace\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1766.333366394043,"y":738.9999885559082,"wires":[["b52cf237.c105a","723f92b5.4f7ecc","d2982512.7ba788"]]},{"id":"60469ff8.af1fd","type":"function","z":"b02137b5.a1f6a","name":"","func":"var a = msg.payload.LSTMCheck;\nvar b = msg.payload.mac;\nvar c = msg.payload.switch;\n\n\n\nif(a === \"Chances of Intrusion / Switch misconfigured\") \n{\n    if ( c === 1 && b === 1)\n    {\n        msg.payload = \"No chance of Intrusion as Switch and ARP is configured rightly\";\n        \n    }\n    else if (c === 0 && b === 0)\n    {\n        msg.payload = \"Detections are observed, Either Online Switch/ mobile wifi misconfigured, else suspects a intrusion\";\n        \n    }\n    else if (c ===1 && b === 0)\n    {\n       msg.payload = \"Detections are observed, Either Online Switch/ mobile wifi misconfigured, else suspects a intrusion\"; \n       \n    }\n    else if ( c === 0 && b===1 )\n    {\n        msg.payload = \"Detections are observed, Either Online Switch/ mobile wifi misconfigured, else suspects a intrusion\";\n        \n    }\n}\nelse if (a === \"Peace\")\n{\n   msg.payload = a;\n   \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":2279.666591644287,"y":772.3333339691162,"wires":[["40943e07.39cff8","b11221dd.f55808","4ea01e1b.374318"]]},{"id":"723f92b5.4f7ecc","type":"change","z":"b02137b5.a1f6a","name":"LSTMCheck","rules":[{"t":"set","p":"topic","pt":"msg","to":"LSTMCheck","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1979.9999542236328,"y":730.0000286102295,"wires":[["3580394a.a5ab56"]]},{"id":"3580394a.a5ab56","type":"join","z":"b02137b5.a1f6a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2104.9996795654297,"y":911.6667041778564,"wires":[["60469ff8.af1fd"]]},{"id":"fedc3cfa.339f5","type":"change","z":"b02137b5.a1f6a","name":"mc","rules":[{"t":"set","p":"topic","pt":"msg","to":"mc","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":333.33331298828125,"y":746.6666259765625,"wires":[["6119faa2.769a2c"]]},{"id":"26908916.394ff6","type":"cpu","z":"b02137b5.a1f6a","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":375.5555953979492,"y":1212.222219467163,"wires":[["9bffbf8c.3deb"]]},{"id":"9bffbf8c.3deb","type":"ui_chart","z":"b02137b5.a1f6a","name":"","group":"92c08d7f.26409","order":4,"width":6,"height":4,"label":"CPU Core Usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":646.6666666666666,"y":1268.888888888889,"wires":[[]]},{"id":"f16986b5.5416b","type":"function","z":"b02137b5.a1f6a","name":"","func":"var a = msg.payload;\nvar array = a.split(\" \");\n\nvar first = array[0];\nvar second = array[1];\nvar array1 =  second.split(\":\");\nmsg.payload = array1[0] + \":\" + array1[1];\nreturn msg;","outputs":1,"noerr":0,"x":113.33333587646484,"y":979.9999580383301,"wires":[["acbebc13.aea128","7af104db.6d5ca4"]]},{"id":"acbebc13.aea128","type":"function","z":"b02137b5.a1f6a","name":"","func":"var time = msg.payload;\nvar minsToAdd = 5;\nvar newTime = new Date(new Date(\"1970/01/01 \" + time).getTime() + minsToAdd * 60000).toLocaleTimeString('en-UK', { hour: '2-digit', minute: '2-digit', hour12: false });\nmsg.payload = time + \" - \" + newTime;\nreturn msg;","outputs":1,"noerr":0,"x":213.6666717529297,"y":1084.9999904632568,"wires":[["16d53e3f.ea6eea","26da51c1.73f5c6","a1637ee3.9b3118"]]},{"id":"16d53e3f.ea6eea","type":"ui_text","z":"b02137b5.a1f6a","group":"3d0b4639.afb72a","order":4,"width":10,"height":1,"name":"","label":"Predictions of time interval for LSTM:","format":"{{msg.payload}}","layout":"row-spread","x":501.9999771118164,"y":1163.6667194366455,"wires":[]},{"id":"40943e07.39cff8","type":"ui_text","z":"b02137b5.a1f6a","group":"3d0b4639.afb72a","order":10,"width":10,"height":1,"name":"","label":"LSTM Check :","format":"{{msg.payload}}","layout":"row-spread","x":2656.666763305664,"y":838.3334045410156,"wires":[]},{"id":"8d1a855.fb70b78","type":"function","z":"b02137b5.a1f6a","name":"","func":"var a  = parseFloat(msg.payload);\n\nvar b = parseFloat(a);\nvar c = b.toFixed(2);\nmsg.payload = c;\nreturn msg;\n","outputs":1,"noerr":0,"x":772.4999694824219,"y":1020.0000190734863,"wires":[["c3a4c65b.cba298","8aa6dc4d.dfe568"]]},{"id":"c2b9cac2.0b45c8","type":"change","z":"b02137b5.a1f6a","name":"dirpre","rules":[{"t":"set","p":"topic","pt":"msg","to":"dirpre","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":986.6666641235352,"y":1058.3333759307861,"wires":[["659e621c.e0150c"]]},{"id":"659e621c.e0150c","type":"join","z":"b02137b5.a1f6a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1446.6666793823242,"y":996.6667919158936,"wires":[["41fd5c4d.67496c"]]},{"id":"41fd5c4d.67496c","type":"function","z":"b02137b5.a1f6a","name":"","func":"var msg1 = {};\nvar msg2 = {};\n\n\nmsg1.payload = msg.payload.dirpre;\nmsg1.topic = 'Line1';\n\nmsg2.payload = msg.payload.last5min;\nmsg2.topic = 'Line2';\n\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":1734.9998779296875,"y":1120,"wires":[["c6e39ff1.4436d"],["c6e39ff1.4436d"]]},{"id":"c6e39ff1.4436d","type":"ui_chart","z":"b02137b5.a1f6a","name":"","group":"3d0b4639.afb72a","order":11,"width":0,"height":0,"label":"LSTM PREDICTIONS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2047.4998346964517,"y":1108.3333072662354,"wires":[[]]},{"id":"cf66b863.ca8358","type":"function","z":"b02137b5.a1f6a","name":"","func":"var a = msg.payload;\n\n\nif (( a === \"Intrusion\") || (a === \"Detections are observed, Either Online Switch/ mobile wifi misconfigured, else suspects a intrusion\"))\n{\n    msg.payload=\"Some suspicious Instrusions detected.Kindly check the dashboard\";\n    return msg;\n    \n}\n\n","outputs":1,"noerr":0,"x":2691.2501678466797,"y":574.3334102630615,"wires":[["fa9ce0f.0aeae2"]]},{"id":"fa9ce0f.0aeae2","type":"change","z":"b02137b5.a1f6a","name":"mailtopic","rules":[{"t":"set","p":"topic","pt":"msg","to":"mailtopic","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2993.208595275879,"y":522.7499885559082,"wires":[["478430ab.f8836"]]},{"id":"edcd0e74.06248","type":"debug","z":"b02137b5.a1f6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1788.8095703125,"y":922.3809967041016,"wires":[]},{"id":"d6467214.65d098","type":"function","z":"b02137b5.a1f6a","name":"","func":"var lstmpred = parseFloat(msg.payload.LSTMoutput);\nvar last5minmot = msg.payload.last5min;\n\nmsg.payload = \"Predicted:\" + lstmpred + \" RealTime:\" + last5minmot;\nreturn msg;","outputs":1,"noerr":0,"x":1825.7142857142856,"y":627.1428571428571,"wires":[["783e5fb3.b86af8"]]},{"id":"20e9e80.3223018","type":"join","z":"b02137b5.a1f6a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1627.999900817871,"y":933.333288192749,"wires":[["edcd0e74.06248"]]},{"id":"26da51c1.73f5c6","type":"delay","z":"b02137b5.a1f6a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":935.0000152587891,"y":1173.3333806991577,"wires":[["e3f765bc.0c2af","212673a2.d6312c","9b97e8ce.9f8d98"]]},{"id":"e3f765bc.0c2af","type":"ui_text","z":"b02137b5.a1f6a","group":"3d0b4639.afb72a","order":12,"width":10,"height":1,"name":"","label":"Last Interval :","format":"{{msg.payload}}","layout":"row-spread","x":1372.6667277018228,"y":1292.6667277018228,"wires":[]},{"id":"9d1a8c00.f0b54","type":"debug","z":"b02137b5.a1f6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":758.5,"y":848,"wires":[]},{"id":"1e6d6874.a62388","type":"ui_template","z":"b02137b5.a1f6a","group":"6cf453b0.e22334","name":"weekly summary info","order":6,"width":"27","height":"25","format":"<div>\n    <h1 align=\"center\" ><b> Weekly Boxplot Summary </b></h1>\n    <br>\n    <ul style=\"list-style-type:disc;\">\n            <li><b> The figure depicts the box plot of detected timestamps over a week.</b></li>\n            <li><b> The y axis indicates the five minute intervals from 0 (00:00:00) to 287 (23:55:00).</b></li>\n            <ul>\n                <li><b>0 == 12 AM</b> </li>\n                <li> <b>50 == 4 AM</b></li>\n                <li><b>100 == 8 AM</b> </li>\n                <li><b> 150 == 12 PM</b></li>\n                <li><b>200 == 4 PM</b></li>\n                <li><b>250 == 8 PM</b></li>\n                \n            </ul>\n            <li><b> The Green line indicates the median of detected timestamps. </b></li>\n            <li><b> The dotted Green line indicates the mean of detected timestamps. </b></li>\n            <li><b> The box (IQR region) containing the median and mean indicates the time range of usual presence.</b></li>\n            <li><b> The dots outside the plot represents the outliers.</b></li>\n             <ul>\n                <li><b>Ouliers lie 3*IQR above third quartile</b> </li>\n                <li><b>Ouliers lie 3*IQR below first quartile</b></li>\n                <li><b>Suspected Outliers lie 1.5*IQR above third quartile.</b> </li>\n                <li><b>Suspected Outliers lie 1.5*IQR below first quartile.</b></li>\n                \n                \n            </ul>\n    </ul> \n    \n</div>\n\n\n\n<div id=\"images\">\n    \n    <img class=\"f1\" border=\"0\" alt=\"First week\" src=\"/firstweekdetectedtimestamps.png\">\n   \n    <img class=\"f2\" border=\"0\" alt=\"Second Week\" src=\"/secondweekdetectedtimestamps.png\">\n    \n    <img class=\"f3\" border=\"0\" alt=\"Third Week\" src=\"/thirdweekdetectedtimestamps.png\">\n    \n    <img class=\"f4\" border=\"0\" alt=\"Fourth Week\" src=\"/fourthweekdetectedtimestamps.png\">\n</div>\n\n<style>\n\n    \n    \n    .f1 {\n        \n        background-size:5%;\n        background-position: left;\n        background-repeat: no-repeat;\n        font-family: Trebuchet ;\n}\n\n    .f2 {\n        \n        background-size: 5%;\n        background-position: right;\n        background-repeat: no-repeat;\n        font-family: Trebuchet;\n}\n\n/*    #images{*/\n/*    text-align:center;*/\n/*}*/\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1113.5713729858398,"y":695.952356338501,"wires":[[]]},{"id":"802b7f0a.6123b","type":"file","z":"b02137b5.a1f6a","name":"","filename":"/home/manish/env/trainingdata.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1584.0000076293945,"y":198.00000095367432,"wires":[[]]},{"id":"27163160.79c31e","type":"ui_template","z":"b02137b5.a1f6a","group":"545d4f2d.395388","name":"","order":1,"width":"0","height":"0","format":"\n\n<!DOCTYPE html>\n<html>\n  <head>\n<style>\np.ex1 {\n  margin-top: 25px;\n}\n</style>\n</head>\n\n<body>\n<div1 style=\"text-align: center;\">\n<h2><b>LSTM MODEL CHARACTERISTICS</b></h2>\n<br>\n\n<div align=\"center\">\n<p>The LSTM model has been trained with the recent monthly motion data and validated against its test set.</p>\n<img src=\"/trainingdata_predictionresults.png\" alt=\"Trulli\" width=\"800\" height=\"650\">\n</div>\n</div1>\n</body>\n</html>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1187.2187728881836,"y":1359.0250253677368,"wires":[[]]},{"id":"32baee5f.33781a","type":"trigger","z":"b02137b5.a1f6a","op1":"","op2":"0","op1type":"pay","op2type":"num","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":352.50000762939453,"y":942.0833568572998,"wires":[["bb9e828f.39dd"]]},{"id":"bb9e828f.39dd","type":"ui_gauge","z":"b02137b5.a1f6a","name":"","group":"20545996.319dee","order":3,"width":0,"height":0,"gtype":"donut","title":"instantaneous detections","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":602.5000114440918,"y":943.4722452163696,"wires":[]},{"id":"b7883421.f8c8a","type":"delay","z":"b02137b5.a1f6a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":971,"y":20,"wires":[["a231499a.a3fe8","62244559.f83834","623485d.e6aa0fc"]]},{"id":"41c9cb31.9a8f0c","type":"ui_text","z":"b02137b5.a1f6a","group":"3d0b4639.afb72a","order":1,"width":0,"height":0,"name":"","label":"Predictions of time interval  for Search:","format":"{{msg.payload}}","layout":"row-spread","x":259,"y":1411.199951171875,"wires":[]},{"id":"7af104db.6d5ca4","type":"function","z":"b02137b5.a1f6a","name":"","func":"var time = msg.payload;\nvar minsToAdd = 5;\nvar newTime = new Date(new Date(\"1970/01/01 \" + time).getTime() + minsToAdd * 60000).toLocaleTimeString('en-UK', { hour: '2-digit', minute: '2-digit', hour12: false });\nmsg.payload = time + \" - \" + newTime;\nreturn msg;","outputs":1,"noerr":0,"x":112,"y":1137.199951171875,"wires":[["41c9cb31.9a8f0c","a1637ee3.9b3118","c29081b9.f0b49"]]},{"id":"a1637ee3.9b3118","type":"debug","z":"b02137b5.a1f6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":395,"y":1043.5999755859375,"wires":[]},{"id":"783e5fb3.b86af8","type":"ui_text","z":"b02137b5.a1f6a","group":"3d0b4639.afb72a","order":13,"width":0,"height":0,"name":"","label":"LSTM Predictions for last time interval :","format":"{{msg.payload}}","layout":"row-spread","x":2073,"y":486,"wires":[]},{"id":"86196e3f.8c2d9","type":"debug","z":"b02137b5.a1f6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2651.000328063965,"y":374.0000057220459,"wires":[]},{"id":"478430ab.f8836","type":"e-mail","z":"b02137b5.a1f6a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"manunodered@gmail.com","dname":"Mail","x":3194.2425956726074,"y":521.303014755249,"wires":[]},{"id":"21ae4c46.b0e39c","type":"trigger","z":"b02137b5.a1f6a","op1":"","op2":"nil","op1type":"pay","op2type":"str","duration":"2","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":2637.6197204589844,"y":136.57144165039062,"wires":[["ee04b50e.b351e"]]},{"id":"3fbd23e8.685e94","type":"change","z":"b02137b5.a1f6a","name":"mailtopic","rules":[{"t":"set","p":"topic","pt":"msg","to":"mailtopic","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3114.736219406128,"y":710.0833101272583,"wires":[["790542be.1eac84"]]},{"id":"790542be.1eac84","type":"e-mail","z":"b02137b5.a1f6a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"manunodered@gmail.com","dname":"Mail","x":3275.770215988159,"y":711.9696559906006,"wires":[]},{"id":"4ea01e1b.374318","type":"function","z":"b02137b5.a1f6a","name":"","func":"var a = msg.payload;\n\n\nif (a === \"No chance of Intrusion as Switch and ARP is configured rightly\") \n{\n    msg.payload=\"Some suspicious Instrusions detected.Kindly check the dashboard\";\n    return msg;\n    \n}\nelse if ( a === \"Detections are observed, Either Online Switch/ mobile wifi misconfigured, else suspects a intrusion\" )\n{\n    msg.payload = \"Some suspicious Instrusions detected.Kindly check the dashboard\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":2698.333526611328,"y":746.6666526794434,"wires":[["3fbd23e8.685e94","b11221dd.f55808"]]},{"id":"f2c05406.31e3b","type":"trigger","z":"b02137b5.a1f6a","op1":"","op2":"nil","op1type":"pay","op2type":"str","duration":"2","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":2993.518310546875,"y":156.66665649414062,"wires":[["ee04b50e.b351e"]]},{"id":"b11221dd.f55808","type":"debug","z":"b02137b5.a1f6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2820.000030517578,"y":1034.9999914169312,"wires":[]},{"id":"c29081b9.f0b49","type":"ui_text","z":"b02137b5.a1f6a","group":"92c08d7f.26409","order":6,"width":0,"height":0,"name":"","label":"Present Time Interval","format":"{{msg.payload}}","layout":"row-spread","x":169,"y":1491,"wires":[]},{"id":"212673a2.d6312c","type":"ui_text","z":"b02137b5.a1f6a","group":"87761ed.ad73d6","order":1,"width":6,"height":1,"name":"","label":"Last Time Interval ","format":"{{msg.payload}}","layout":"row-spread","x":1237,"y":1181,"wires":[]},{"id":"3bd17023.3ac43","type":"switch","z":"b02137b5.a1f6a","name":"validate","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":638,"y":67,"wires":[["cf2663af.0fefb"],["f2325748.a802"]]},{"id":"cf2663af.0fefb","type":"function","z":"b02137b5.a1f6a","name":"zerom","func":"msg.payload = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":798,"y":87,"wires":[["a25b2d22.ed091"]]},{"id":"a25b2d22.ed091","type":"function","z":"b02137b5.a1f6a","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":928,"y":68,"wires":[["2346d91c.59db3e","b7883421.f8c8a"]]},{"id":"623485d.e6aa0fc","type":"ui_gauge","z":"b02137b5.a1f6a","name":"","group":"92c08d7f.26409","order":2,"width":0,"height":0,"gtype":"donut","title":"","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":120,"wires":[]},{"id":"9b97e8ce.9f8d98","type":"ui_text","z":"b02137b5.a1f6a","group":"92c08d7f.26409","order":1,"width":6,"height":1,"name":"","label":"Last Time Interval ","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":1280,"wires":[]},{"id":"f66ab1c7.36e038","type":"mqtt-broker","z":"","name":"PiMosquitto","broker":"localhost","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"20545996.319dee","type":"ui_group","z":"","name":"Switch status","tab":"8c55da2b.d99b28","order":1,"disp":true,"width":"6","collapse":false},{"id":"87761ed.ad73d6","type":"ui_group","z":"","name":"Current detection ","tab":"8c55da2b.d99b28","order":3,"disp":true,"width":"6","collapse":false},{"id":"ae6d44bf.1a31c8","type":"influxdb","z":"","hostname":"192.168.0.103","port":"8086","protocol":"http","database":"REALTIMEMOTION","name":"","usetls":false,"tls":""},{"id":"92c08d7f.26409","type":"ui_group","z":"","name":"Historical Detection","tab":"8c55da2b.d99b28","order":2,"disp":true,"width":"6","collapse":false},{"id":"3d0b4639.afb72a","type":"ui_group","z":"","name":"Status","tab":"8c55da2b.d99b28","order":4,"disp":true,"width":"10","collapse":false},{"id":"6cf453b0.e22334","type":"ui_group","z":"","name":"","tab":"a8d7f816.24c05","disp":true,"width":"27","collapse":false},{"id":"545d4f2d.395388","type":"ui_group","z":"","name":"","tab":"527fcac7.525d24","disp":true,"width":"30","collapse":false},{"id":"8c55da2b.d99b28","type":"ui_tab","z":"","name":"PIR","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a8d7f816.24c05","type":"ui_tab","z":"","name":"Weekly Summary","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"527fcac7.525d24","type":"ui_tab","z":"","name":"LSTM MODEL","icon":"dashboard","order":2,"disabled":false,"hidden":false}]