noderedflow/HybridSmartMotionDetection.json
[{"id":"355d40e.52038c","type":"tab","label":"Hybrid Smart Moton Detection","disabled":false,"info":""},{"id":"613c99d4.300a18","type":"rpi-gpio in","z":"355d40e.52038c","name":"PIR","pin":"33","intype":"tri","debounce":"25","read":false,"x":55,"y":213,"wires":[["f5092253.8656f","d8c6cf2e.d84ea","2e111d23.ec0cb2"]]},{"id":"f5092253.8656f","type":"change","z":"355d40e.52038c","name":"Topic change","rules":[{"t":"set","p":"topic","pt":"msg","to":"PIR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":209,"y":214,"wires":[["c48805b7.542f58"]]},{"id":"aab82acb.975ab8","type":"inject","z":"355d40e.52038c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":102,"y":313,"wires":[["20a70a47.829c36"]]},{"id":"67ed79a.5674088","type":"inject","z":"355d40e.52038c","name":"","topic":"switch","payload":"0","payloadType":"num","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":91,"y":415,"wires":[["c5b60731.e740c8"]]},{"id":"20a70a47.829c36","type":"moment","z":"355d40e.52038c","name":"","topic":"time","input":"","inputType":"date","inTz":"Europe/Berlin","adjAmount":"2","adjType":"hours","adjDir":"add","format":"","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Berlin","x":249,"y":310,"wires":[["df865bb9.e7aea8"]]},{"id":"c5b60731.e740c8","type":"ui_switch","z":"355d40e.52038c","name":"","label":"switch","tooltip":"","group":"2214eb64.70f524","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":241,"y":409,"wires":[["4a358a17.753444"]]},{"id":"df865bb9.e7aea8","type":"function","z":"355d40e.52038c","name":"Formatting time","func":"var string=msg.payload;\nvar length = 19;\nstring = string.replace(/T/g,' ');\nstring = string.replace(/Z/g,' ');\nvar trimmedString = string.substring(0, length);\nmsg.payload=trimmedString;\nreturn msg;","outputs":1,"noerr":0,"x":403.0000228881836,"y":298.9999952316284,"wires":[["23407aca.8d5d26","3669cb59.215854","99fc8854.26e3b8","90efc47e.e5d618"]]},{"id":"4a358a17.753444","type":"function","z":"355d40e.52038c","name":"Formatting switch","func":"var i = msg.payload;\nvar value;\nif (i === true){\n    value=1\n}\nelse{\n    value=0\n}\nmsg.payload=value;\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":412.0000066757202,"wires":[["3669cb59.215854","cd0ce816.05a968","683f1302.24668c","80cb7f02.90b7a","96314335.046d2"]]},{"id":"c48805b7.542f58","type":"function","z":"355d40e.52038c","name":"modify","func":"var a = msg.payload;\nif (a === 1 ){\n    msg.payload = 1;\n}\nelse if (a ===0){\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":224,"wires":[["3669cb59.215854","c1adac56.22f34","99fc8854.26e3b8","d5a777d8.f47cb8","90efc47e.e5d618","5a9df43a.5b3e5c","71e0f310.9b4d3c"]]},{"id":"d8c6cf2e.d84ea","type":"ui_gauge","z":"355d40e.52038c","name":"","group":"83c527c0.68ed08","order":6,"width":0,"height":0,"gtype":"donut","title":"Motion","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":99,"y":77,"wires":[]},{"id":"23407aca.8d5d26","type":"ui_text","z":"355d40e.52038c","group":"83c527c0.68ed08","order":5,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":408,"y":348,"wires":[]},{"id":"3669cb59.215854","type":"join","z":"355d40e.52038c","name":"Merge","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":605,"y":255,"wires":[["bda1d4de.45a418"]]},{"id":"bda1d4de.45a418","type":"batch","z":"355d40e.52038c","name":"","mode":"interval","count":10,"overlap":0,"interval":"10","allowEmptySequence":false,"topics":[],"x":741,"y":254,"wires":[["5d8de7e8.15c108"]]},{"id":"3905fd10.3a73e2","type":"debug","z":"355d40e.52038c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1406.5,"y":235,"wires":[]},{"id":"5d8de7e8.15c108","type":"csv","z":"355d40e.52038c","name":"sensor data","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"time,PIR,switch,mac","skip":"0","x":909,"y":268,"wires":[["c616ff44.df4e2"]]},{"id":"c616ff44.df4e2","type":"file","z":"355d40e.52038c","name":"","filename":"/home/pi/noderedlog.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1121.0000610351562,"y":278.9999952316284,"wires":[["3905fd10.3a73e2"]]},{"id":"c1adac56.22f34","type":"influxdb out","z":"355d40e.52038c","influxdb":"6aeafc6c.c59a34","name":"","measurement":"motion","precision":"","retentionPolicy":"","x":211.20001220703125,"y":267,"wires":[]},{"id":"cd0ce816.05a968","type":"influxdb out","z":"355d40e.52038c","influxdb":"6aeafc6c.c59a34","name":"","measurement":"switch","precision":"","retentionPolicy":"","x":322,"y":462,"wires":[]},{"id":"2da0c0a6.f087d","type":"ping","z":"355d40e.52038c","name":"Ping Moto G5","host":"192.168.0.24","timer":"20","x":80,"y":530.0000066757202,"wires":[["9883771d.e0abf8"]]},{"id":"f81a335d.1e587","type":"function","z":"355d40e.52038c","name":"Check Response","func":"if (msg.payload === false){\n    msg.payload = 0;\n}else{\n    msg.payload =1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":415.5000419616699,"y":528.0000133514404,"wires":[[]]},{"id":"683f1302.24668c","type":"join","z":"355d40e.52038c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"10","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":629,"y":508,"wires":[["7f77441e.c81b1c"]]},{"id":"7f77441e.c81b1c","type":"function","z":"355d40e.52038c","name":"detection check","func":"var a = msg.payload.mac;\nvar b = msg.payload.switch;\nif ( a === 0 && b === 0 ){\n    msg.payload = \"Correctly configured\";\n    return msg;\n} else if (a === 1 && b === 1 ) {\n    msg.payload = \"Correctly configured\";\n    return msg;\n} else if (a === 1 && b === 0 ){\n    msg.payload = \"High Priority Conf error\"\n    return msg;\n\n} else if (a === 0 && b === 1) {\n    msg.payload = \"High Priority Conf error\"\n    return msg;\n\n}\n","outputs":1,"noerr":0,"x":801,"y":476,"wires":[["f9d9fce1.e128a","78775c41.d122c4"]]},{"id":"4cd515d9.7d7e3c","type":"influxdb out","z":"355d40e.52038c","influxdb":"6aeafc6c.c59a34","name":"","measurement":"mobile","precision":"","retentionPolicy":"","x":482,"y":698.0000438690186,"wires":[]},{"id":"db2b0c74.8e437","type":"ui_gauge","z":"355d40e.52038c","name":"","group":"2214eb64.70f524","order":7,"width":0,"height":0,"gtype":"gage","title":"Mobile MAC","label":"units","format":"{{value}}","min":"0","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":953.5,"y":613,"wires":[]},{"id":"84e9bb89.6d9328","type":"arp","z":"355d40e.52038c","name":"ARP","macs":"F0:D7:AA:A9:D3:2A","x":192,"y":627,"wires":[["839b0a3d.d0d428"]]},{"id":"f03bd717.949818","type":"inject","z":"355d40e.52038c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":626,"wires":[["84e9bb89.6d9328"]]},{"id":"ca85bbd8.57d9c8","type":"switch","z":"355d40e.52038c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":442.5,"y":621,"wires":[["7e5d1ffb.aedb9"],["2b91a838.25b0b8"]]},{"id":"7e5d1ffb.aedb9","type":"function","z":"355d40e.52038c","name":"Absent ?","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":583.5,"y":602,"wires":[["c704b3a9.9ad21"]]},{"id":"2b91a838.25b0b8","type":"function","z":"355d40e.52038c","name":"Present?","func":"var a = msg.payload[0].mac;\nif (a===\"f0:d7:aa:a9:d3:2a\"){\n    msg.payload=1;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":592.5,"y":655,"wires":[["c704b3a9.9ad21"]]},{"id":"c704b3a9.9ad21","type":"function","z":"355d40e.52038c","name":"Dummy","func":"\nreturn msg;","outputs":1,"noerr":0,"x":749.5000076293945,"y":614.9999771118164,"wires":[["f38d408b.7ed57","3669cb59.215854","4cd515d9.7d7e3c","683f1302.24668c","db2b0c74.8e437","80cb7f02.90b7a","96314335.046d2"]]},{"id":"f38d408b.7ed57","type":"debug","z":"355d40e.52038c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":955.5,"y":662,"wires":[]},{"id":"839b0a3d.d0d428","type":"change","z":"355d40e.52038c","name":"mac","rules":[{"t":"set","p":"topic","pt":"msg","to":"mac","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":319.5,"y":625,"wires":[["ca85bbd8.57d9c8"]]},{"id":"9883771d.e0abf8","type":"change","z":"355d40e.52038c","name":"Topic change","rules":[{"t":"set","p":"topic","pt":"msg","to":"mobile","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":239.99999237060547,"y":529.9999980926514,"wires":[["f81a335d.1e587"]]},{"id":"90285442.bff1f8","type":"e-mail","z":"355d40e.52038c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"bsham7127@gmail.com","dname":"Inform ","x":1285,"y":468,"wires":[]},{"id":"f9d9fce1.e128a","type":"ui_text","z":"355d40e.52038c","group":"2214eb64.70f524","order":8,"width":0,"height":0,"name":"","label":"Switch conf.","format":"{{msg.payload}}","layout":"row-spread","x":1019.5000610351562,"y":526.0000076293945,"wires":[]},{"id":"449f30ad.4ac7","type":"influxdb in","z":"355d40e.52038c","influxdb":"6aeafc6c.c59a34","name":"","query":"SELECT * FROM \"motion\" ","rawOutput":false,"precision":"s","retentionPolicy":"","x":415,"y":983.0000123977661,"wires":[["8f052648.c331b8"]]},{"id":"4fd0beca.2f1ad","type":"inject","z":"355d40e.52038c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":78.5,"y":983.0000139474869,"wires":[["449f30ad.4ac7"]]},{"id":"42e2cfc0.04af9","type":"file","z":"355d40e.52038c","name":"","filename":"/home/pi/frominflux.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1120.0000076293945,"y":1001.9999933242798,"wires":[[]]},{"id":"8f052648.c331b8","type":"json","z":"355d40e.52038c","name":"","property":"payload","action":"obj","pretty":false,"x":716.5000038146973,"y":989.9999923706055,"wires":[["b5d62b8d.edef18"]]},{"id":"b5d62b8d.edef18","type":"csv","z":"355d40e.52038c","name":"formatting data","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"time,value","skip":"0","x":896.5000076293945,"y":991.9999923706055,"wires":[["42e2cfc0.04af9"]]},{"id":"78775c41.d122c4","type":"function","z":"355d40e.52038c","name":"trigger ","func":"msg.topic = \"Alert\";\nif (msg.payload ===\"Wrongly configured\"){\n    msg.payload = \"It seems you have misconfigured the setting. Kindly check.\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":983.5,"y":471,"wires":[["5c4752e6.b593ec"]]},{"id":"5c4752e6.b593ec","type":"delay","z":"355d40e.52038c","name":"Delay inform","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1137,"y":469,"wires":[["90285442.bff1f8"]]},{"id":"99fc8854.26e3b8","type":"join","z":"355d40e.52038c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":447,"y":131,"wires":[["b465b77d.b0ab48"]]},{"id":"54882f7.44922d","type":"debug","z":"355d40e.52038c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":654.5,"y":197,"wires":[]},{"id":"b465b77d.b0ab48","type":"function","z":"355d40e.52038c","name":"timestamps of detection","func":"var a = msg.payload.PIR\nvar b = msg.payload.time\nif (a===1){\n    msg.payload =b;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":635.5,"y":143,"wires":[["54882f7.44922d","4736b8f7.f4e588","ba86c9ae.949cd8","982da09a.45715","74acb778.452c18","8d2ed2d4.b45b1","3aae9be0.f7df64","85eacf40.9e527"]]},{"id":"4736b8f7.f4e588","type":"pythonshell in","z":"355d40e.52038c","name":"avg10minrange","pyfile":"avgdetections10min.py","virtualenv":"","continuous":false,"stdInData":false,"x":887.5,"y":23,"wires":[["bbcc1bbe.c11928"]]},{"id":"1779e466.9a137c","type":"function","z":"355d40e.52038c","name":"Day extraction","func":"var datetime = msg.payload;\ns = datetime;\ndatetime = datetime.split(\" \")\n\nvar date = datetime[0];\n\n\nvar days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];\nvar d = new Date(s);\nvar dayname = days[d.getDay()];\nmsg.payload= dayname;\nreturn msg;","outputs":1,"noerr":0,"x":338.5003433227539,"y":74.99999237060547,"wires":[["18c5a3e0.409a4c"]]},{"id":"18c5a3e0.409a4c","type":"ui_text","z":"355d40e.52038c","group":"83c527c0.68ed08","order":4,"width":0,"height":0,"name":"Day","label":"Day","format":"{{msg.payload}}","layout":"row-spread","x":497.50018310546875,"y":62.000017166137695,"wires":[]},{"id":"d5a777d8.f47cb8","type":"totaliser","z":"355d40e.52038c","output":"sum","interval":"5","intervalUnits":"minutes","name":"Sum of detections per 5 mins","x":702,"y":297,"wires":[["479bc3fc.50f09c"]]},{"id":"90efc47e.e5d618","type":"totaliser","z":"355d40e.52038c","output":"sum","interval":"10","intervalUnits":"minutes","name":"Sum of detections per 10  mins","x":709,"y":347,"wires":[["8ecea569.213fc8"]]},{"id":"5a9df43a.5b3e5c","type":"aggregator","z":"355d40e.52038c","name":"average detections per 5 mins","topic":"average_5","intervalCount":"5","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":703,"y":397,"wires":[[]]},{"id":"71e0f310.9b4d3c","type":"aggregator","z":"355d40e.52038c","name":"average detections per 10 mins","topic":"average_10","intervalCount":"10","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":707,"y":439,"wires":[[]]},{"id":"5f0c5369.117cbc","type":"ui_text","z":"355d40e.52038c","group":"8bfc835f.bb7ca","order":1,"width":0,"height":0,"name":"","label":"No. of detections per 5 mins","format":"{{msg.payload}}","layout":"row-spread","x":1439.5,"y":273,"wires":[]},{"id":"9f9bece8.c7c43","type":"ui_text","z":"355d40e.52038c","group":"8bfc835f.bb7ca","order":4,"width":0,"height":0,"name":"","label":"No. of detections per 10 mins","format":"{{msg.payload}}","layout":"row-spread","x":1466,"y":405.00001335144043,"wires":[]},{"id":"479bc3fc.50f09c","type":"function","z":"355d40e.52038c","name":"getting total","func":"var a = msg.payload.total;\nmsg.payload = a;\nreturn msg;","outputs":1,"noerr":0,"x":955.5,"y":317,"wires":[["fb87cb15.61aa08"]]},{"id":"8ecea569.213fc8","type":"function","z":"355d40e.52038c","name":"getting total","func":"var a = msg.payload.total;\nmsg.payload = a;\nreturn msg;\n","outputs":1,"noerr":0,"x":957.5,"y":362,"wires":[["d0a09dbd.5d4d8"]]},{"id":"39c2eb13.d6d634","type":"ui_chart","z":"355d40e.52038c","name":"","group":"8bfc835f.bb7ca","order":2,"width":0,"height":0,"label":"Detections per 5 mins","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1401.5,"y":312,"wires":[[]]},{"id":"2e111d23.ec0cb2","type":"ui_chart","z":"355d40e.52038c","name":"","group":"83c527c0.68ed08","order":6,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":188.5,"y":148,"wires":[[]]},{"id":"478b191b.56aec8","type":"ui_chart","z":"355d40e.52038c","name":"","group":"8bfc835f.bb7ca","order":5,"width":0,"height":0,"label":"Detections per 10 mins","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1155.0000305175781,"y":428.99999046325684,"wires":[[]]},{"id":"ba86c9ae.949cd8","type":"pythonshell in","z":"355d40e.52038c","name":"sum10minrange","pyfile":"sumdetections10min.py","virtualenv":"","continuous":false,"stdInData":false,"x":900.5,"y":63,"wires":[["e6ca4e52.797f4"]]},{"id":"982da09a.45715","type":"pythonshell in","z":"355d40e.52038c","name":"sum5minrange","pyfile":"sumdetections5min.py","virtualenv":"","continuous":false,"stdInData":false,"x":903,"y":101,"wires":[["6c61b68.9050d48"]]},{"id":"74acb778.452c18","type":"pythonshell in","z":"355d40e.52038c","name":"avg5minrange","pyfile":"avgdetections5min.py","virtualenv":"","continuous":false,"stdInData":false,"x":899,"y":144,"wires":[["d4e1d6a4.d9e848"]]},{"id":"bbcc1bbe.c11928","type":"change","z":"355d40e.52038c","name":"avg10min","rules":[{"t":"set","p":"topic","pt":"msg","to":"avg10min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1073.5,"y":25,"wires":[["4601c468.f6012c"]]},{"id":"e6ca4e52.797f4","type":"change","z":"355d40e.52038c","name":"sum10min","rules":[{"t":"set","p":"topic","pt":"msg","to":"sum10min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1077,"y":65,"wires":[["e9a49206.5bbf4"]]},{"id":"6c61b68.9050d48","type":"change","z":"355d40e.52038c","name":"sum5min","rules":[{"t":"set","p":"topic","pt":"msg","to":"sum5min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1064,"y":108,"wires":[["f77709ca.cb94b8"]]},{"id":"d4e1d6a4.d9e848","type":"change","z":"355d40e.52038c","name":"avg5min","rules":[{"t":"set","p":"topic","pt":"msg","to":"avg5min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1067,"y":148,"wires":[["4601c468.f6012c"]]},{"id":"f96769bc.2643a8","type":"function","z":"355d40e.52038c","name":"check","func":"var a = msg.payload.avg10min;\nvar b = msg.payload.avg5min;\nvar c = msg.payload.last5min;\nvar d = msg.payload.last10min;\nvar e = msg.payload.sum5min;\nvar f = msg.payload.sum10min;\nif (c > b && c > e)\n{\n    msg.payload=\"Chance of IntrusionA\";\n    return msg;\n} \nelse if ( d > a && d > f )\n{\n    msg.payload = \"Chance of IntrusionB\";\n    return msg;\n}\nelse if ( c <= b && c <= e )\n{\n    msg.payload = \"At PeaceA\";\n    return msg;\n}\nelse if (d <= a && d <=f )\n{\n    msg.payload = \"At PeaceB\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1491.5,"y":21,"wires":[["1a6e6464.aee2cc","ac3a7112.99c7b"]]},{"id":"fb87cb15.61aa08","type":"change","z":"355d40e.52038c","name":"last5min","rules":[{"t":"set","p":"topic","pt":"msg","to":"last5min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1155.5,"y":323,"wires":[["39c2eb13.d6d634","5f0c5369.117cbc","72987b5c.a25084","4601c468.f6012c","80cb7f02.90b7a","96314335.046d2"]]},{"id":"d0a09dbd.5d4d8","type":"change","z":"355d40e.52038c","name":"last10min","rules":[{"t":"set","p":"topic","pt":"msg","to":"last10min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1197.5,"y":379,"wires":[["478b191b.56aec8","9f9bece8.c7c43","72987b5c.a25084","4601c468.f6012c"]]},{"id":"54f2bf16.2f038","type":"ui_chart","z":"355d40e.52038c","name":"","group":"160a3d00.8f7663","order":5,"width":0,"height":0,"label":"Detections over 15 mins","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1661,"y":169,"wires":[[]]},{"id":"ef1dc6dd.6b2938","type":"ui_chart","z":"355d40e.52038c","name":"","group":"160a3d00.8f7663","order":9,"width":0,"height":0,"label":"Detections  over 25 mins","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1680,"y":133,"wires":[[]]},{"id":"95d8f4b1.d5cde8","type":"ui_text","z":"355d40e.52038c","group":"160a3d00.8f7663","order":4,"width":0,"height":0,"name":"","label":" Usual no. of Detections over 15 mins","format":"{{msg.payload}}","layout":"row-spread","x":1666,"y":206,"wires":[]},{"id":"b9176281.cd193","type":"ui_text","z":"355d40e.52038c","group":"160a3d00.8f7663","order":8,"width":0,"height":0,"name":"","label":"Usual no. of detections over 25 mins","format":"{{msg.payload}}","layout":"row-spread","x":1770,"y":95,"wires":[]},{"id":"1a6e6464.aee2cc","type":"ui_text","z":"355d40e.52038c","group":"d5370fd5.5e15f","order":1,"width":"10","height":"1","name":"","label":"Dynamic History","format":"{{msg.payload}}","layout":"row-spread","x":1839.5,"y":20,"wires":[]},{"id":"72987b5c.a25084","type":"debug","z":"355d40e.52038c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1412.5,"y":354,"wires":[]},{"id":"ac3a7112.99c7b","type":"debug","z":"355d40e.52038c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1538.5,"y":61,"wires":[]},{"id":"4601c468.f6012c","type":"join","z":"355d40e.52038c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1336.5,"y":35,"wires":[["f96769bc.2643a8","ac3a7112.99c7b"]]},{"id":"8d2ed2d4.b45b1","type":"pythonshell in","z":"355d40e.52038c","name":"sumnow5min","pyfile":"sumnow5min.py","virtualenv":"","continuous":false,"stdInData":false,"x":899.5,"y":180,"wires":[["fffd9735.74a458"]]},{"id":"2e0fc3eb.30f80c","type":"pythonshell in","z":"355d40e.52038c","name":"meannow5min","pyfile":"meannow5min.py","virtualenv":"","continuous":false,"stdInData":false,"x":918.0001831054688,"y":223.0000295639038,"wires":[["c5635015.3a41e"]]},{"id":"fffd9735.74a458","type":"change","z":"355d40e.52038c","name":"sumnow5min","rules":[{"t":"set","p":"topic","pt":"msg","to":"avg5min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1072,"y":186,"wires":[["fcc621f3.aafed","9339ce05.b03b4"]]},{"id":"9339ce05.b03b4","type":"ui_text","z":"355d40e.52038c","group":"160a3d00.8f7663","order":1,"width":0,"height":0,"name":"","label":"Usual No.of Detections at this 5 min","format":"{{msg.payload}}","layout":"row-spread","x":1707.5003204345703,"y":243.99999904632568,"wires":[]},{"id":"fcc621f3.aafed","type":"ui_chart","z":"355d40e.52038c","name":"","group":"160a3d00.8f7663","order":2,"width":0,"height":0,"label":"Usual Detections at 5 min now","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1713.500129699707,"y":286.00002574920654,"wires":[[]]},{"id":"e9a49206.5bbf4","type":"function","z":"355d40e.52038c","name":"scaling","func":"var a = msg.payload;\na = a/4;\nmsg.payload = a;\nreturn msg;","outputs":1,"noerr":0,"x":1336.5,"y":124,"wires":[["b9176281.cd193","ef1dc6dd.6b2938","4601c468.f6012c"]]},{"id":"f77709ca.cb94b8","type":"function","z":"355d40e.52038c","name":"scaling","func":"var a = msg.payload;\na = a/4;\nmsg.payload = a;\nreturn msg;","outputs":1,"noerr":0,"x":1366,"y":168,"wires":[["54f2bf16.2f038","95d8f4b1.d5cde8","4601c468.f6012c"]]},{"id":"6523f081.fd44f","type":"ui_template","z":"355d40e.52038c","group":"b342184f.d00568","name":"","order":6,"width":"27","height":"25","format":"<div>\n    <h1 align=\"center\" ><b> Weekly Boxplot Summary </b></h1>\n    <br>\n    <ul style=\"list-style-type:disc;\">\n            <li><b> The figure depicts the box plot of detected timestamps over a week.</b></li>\n            <li><b> The y axis indicates the five minute intervals from 0 (00:00:00) to 287 (23:55:00).</b></li>\n            <ul>\n                <li><b>0 == 12 AM</b> </li>\n                <li> <b>50 == 4 AM</b></li>\n                <li><b>100 == 8 AM</b> </li>\n                <li><b> 150 == 12 PM</b></li>\n                <li><b>200 == 4 PM</b></li>\n                <li><b>250 == 8 PM</b></li>\n                \n            </ul>\n            <li><b> The Green line indicates the median of detected timestamps. </b></li>\n            <li><b> The dotted Green line indicates the mean of detected timestamps. </b></li>\n            <li><b> The box (IQR region) containing the median and mean indicates the time range of usual presence.</b></li>\n            <li><b> The dots outside the plot represents the outliers.</b></li>\n             <ul>\n                <li><b>Ouliers lie 3*IQR above third quartile</b> </li>\n                <li><b>Ouliers lie 3*IQR below first quartile</b></li>\n                <li><b>Suspected Outliers lie 1.5*IQR above third quartile.</b> </li>\n                <li><b>Suspected Outliers lie 1.5*IQR below first quartile.</b></li>\n                \n                \n            </ul>\n    </ul> \n    \n</div>\n\n\n\n<div id=\"images\">\n    \n    <img class=\"f1\" border=\"0\" alt=\"First week\" src=\"/firstweekdetectedtimestamps.png\">\n   \n    <img class=\"f2\" border=\"0\" alt=\"Second Week\" src=\"/secondweekdetectedtimestamps.png\">\n    \n    <img class=\"f3\" border=\"0\" alt=\"Third Week\" src=\"/thirdweekdetectedtimestamps.png\">\n    \n    <img class=\"f4\" border=\"0\" alt=\"Fourth Week\" src=\"/fourthweekdetectedtimestamps.png\">\n</div>\n\n<style>\n\n    \n    \n    .f1 {\n        \n        background-size:5%;\n        background-position: left;\n        background-repeat: no-repeat;\n        font-family: Trebuchet ;\n}\n\n    .f2 {\n        \n        background-size: 5%;\n        background-position: right;\n        background-repeat: no-repeat;\n        font-family: Trebuchet;\n}\n\n/*    #images{*/\n/*    text-align:center;*/\n/*}*/\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":87.60001754760742,"y":704.9999923706055,"wires":[[]]},{"id":"3aae9be0.f7df64","type":"pythonshell in","z":"355d40e.52038c","name":"Box plot prediction","pyfile":"boxplotprediction.py","virtualenv":"","continuous":false,"stdInData":false,"x":1188.5765762329102,"y":579.6115942001343,"wires":[["26cfd1ce.6ed27e","56f4df22.cb9e"]]},{"id":"26cfd1ce.6ed27e","type":"debug","z":"355d40e.52038c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1406.573257446289,"y":540.4897022247314,"wires":[]},{"id":"56f4df22.cb9e","type":"ui_text","z":"355d40e.52038c","group":"d5370fd5.5e15f","order":2,"width":"10","height":"1","name":"","label":"Boxplot Statistics","format":"{{msg.payload}}","layout":"row-spread","x":1424.3509521484375,"y":594.0105113983154,"wires":[]},{"id":"85eacf40.9e527","type":"pythonshell in","z":"355d40e.52038c","name":"Distribution Statistics","pyfile":"stdprediction.py","virtualenv":"","continuous":false,"stdInData":false,"x":1183.3579406738281,"y":627.618330001831,"wires":[["61fcf1e0.dc9c8","49805f3c.f5e0d"]]},{"id":"61fcf1e0.dc9c8","type":"debug","z":"355d40e.52038c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1418.3612060546875,"y":701.5036010742188,"wires":[]},{"id":"49805f3c.f5e0d","type":"ui_text","z":"355d40e.52038c","group":"d5370fd5.5e15f","order":3,"width":"10","height":"1","name":"","label":"Data Distribution Statistics","format":"{{msg.payload}}","layout":"row-spread","x":1468.795166015625,"y":659.0104370117188,"wires":[]},{"id":"3573f9ad.a86456","type":"function","z":"355d40e.52038c","name":"Parsing WDay","func":"var datetime = msg.payload;\ns = datetime;\ndatetime = datetime.split(\" \")\n\nvar date = datetime[0];\n\n\nvar days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];\nvar d = new Date(s);\nvar dayname = days[d.getDay()];\n\nif (dayname === \"Sunday \"){\n    msg.payload = 1;\n} else if (dayname === \"Monday\"){\n    msg.payload = 2;\n} else if (dayname ===\"Tuesday\"){\n    msg.payload=  3;\n} else if (dayname === \"Wednesday\"){\n    msg.payload = 4;\n} else if (dayname ===  \"Thursday\"){\n    msg.payload = 5;\n} else if (dayname === \"Friday\" ){\n    msg.payload = 6;\n} else if (dayname === \"Saturday\"){\n    msg.payload =7;\n}\n\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":884.0000457763672,"y":699.0000905990601,"wires":[["b1dbda3c.f2e028"]]},{"id":"a7f9335.dc327d","type":"function","z":"355d40e.52038c","name":"Parsing TimeIndex","func":"var datetime = msg.payload;\ns = datetime;\ndatetime = datetime.split(\" \")\n\nvar times = [];\n\nvar time = datetime[1];\n\n\n\n \nvar a = time.split(':'); \nvar minutes = (+a[0]) * 60 + (+a[1]);\nvar timeindex = minutes/5;\ntimeindex = Math.floor(timeindex);\n\n// if (!context.t) {\n//   context.t = [];\n// }\n// context.t.push(timeindex);\n// msg.payload = context.t;\n\n\nmsg.payload = timeindex;\nreturn msg; \n\n\n// msg.payload = timeindex;\n\n\n\n// return msg;","outputs":1,"noerr":0,"x":881,"y":740.9999990463257,"wires":[["e4ba42a5.fbbce"]]},{"id":"b1dbda3c.f2e028","type":"change","z":"355d40e.52038c","name":"WDay","rules":[{"t":"set","p":"topic","pt":"msg","to":"WDay","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1083.000015258789,"y":704.0000438690186,"wires":[["732ca3bb.13cf1c","96314335.046d2"]]},{"id":"e4ba42a5.fbbce","type":"change","z":"355d40e.52038c","name":"TimeIndex","rules":[{"t":"set","p":"topic","pt":"msg","to":"TimeIndex","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1089,"y":745.0000448226929,"wires":[["732ca3bb.13cf1c","96314335.046d2"]]},{"id":"732ca3bb.13cf1c","type":"join","z":"355d40e.52038c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1254.015625,"y":719.8710918426514,"wires":[["c4ad56f2.807858"]]},{"id":"c4ad56f2.807858","type":"debug","z":"355d40e.52038c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1413.0195617675781,"y":750.0039510726929,"wires":[]},{"id":"80cb7f02.90b7a","type":"join","z":"355d40e.52038c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":606.0118446350098,"y":752.8829183578491,"wires":[["32e59a13.db9916"]]},{"id":"96314335.046d2","type":"join","z":"355d40e.52038c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":885.0235481262207,"y":844.8867778778076,"wires":[["dc310ef0.cf2e8"]]},{"id":"dc310ef0.cf2e8","type":"csv","z":"355d40e.52038c","name":"complete data","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"WDay,TimeIndex,switch,mac,last5min,avg5min","skip":"0","x":1042.0196533203125,"y":848.003981590271,"wires":[["faf5fea.a3be1"]]},{"id":"faf5fea.a3be1","type":"file","z":"355d40e.52038c","name":"","filename":"/home/pi/noderedclass.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1265.019515991211,"y":847.0039052963257,"wires":[[]]},{"id":"c5635015.3a41e","type":"function","z":"355d40e.52038c","name":"float","func":"var a = msg.payload;\nvar b = parseFloat(a);\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":1052.3945426940918,"y":227.39450359344482,"wires":[["b69f7d20.a7999"]]},{"id":"b69f7d20.a7999","type":"change","z":"355d40e.52038c","name":"meannow5min","rules":[{"t":"set","p":"topic","pt":"msg","to":"avg5min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1194.7695121765137,"y":228.00390911102295,"wires":[["80cb7f02.90b7a","96314335.046d2"]]},{"id":"32e59a13.db9916","type":"function","z":"355d40e.52038c","name":"Decision","func":"var s = msg.payload.switch;\nvar m = msg.payload.mac;\nvar now = msg.payload.last5min;\nvar then = msg.payload.avg5min;\n\nif (s === 0)\n{\n    if (m === s)\n    {\n      if(now > 0)\n      {\n        if(then > 0 || then >= now)\n        {\n            msg.payload = \"Data suggests that both switch and mobile are misconfigured\";\n        }\n        else if (then === 0 && then < now)\n        {\n            msg.payload =\"Data suggests the chance of Intrusion \";\n        }\n      }\n      else if (now === 0)\n      {\n        if(now === 0)\n        {\n            msg.payload =\"Data suggests that home is at Peace\";\n        }  \n      }\n    }\n    else\n    {\n    msg.payload=\"Data suggests that either switch or mobile is misconfigured \";    \n    }\n}\n\nif(s === 1)\n{\n    if (m === s)\n    {\n      if(now > 0)\n      {\n        if(then > 0 && then > now)\n        {\n            msg.payload = \"Data suggests that home is at Peace\";\n        }\n        else if (then > 0 && then <= now)\n        {\n            msg.payload =\"Data suggests that home is at Peace but slightly sceptical\";\n        }\n        else if (then === 0)\n        {\n            msg.payload =\"Data suggests the chance of Intrusion\"\n        }\n      }\n      else if (now === 0)\n      {\n        if(then > 0 || then > 5 + now )\n        {\n            msg.payload =\"Data suggests that both switch and mobile are misconfigured\";\n        }\n        else if(then === 0)\n        {\n            msg.payload =\"Data suggests that home is at Peace\";\n        }\n      }\n    }\n    else\n    {\n    msg.payload=\"Data suggests that either switch or mobile is misconfigured\";    \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":403.3984603881836,"y":844.4063701629639,"wires":[["c77e9d5b.380ca"]]},{"id":"ec58817e.d8db8","type":"inject","z":"355d40e.52038c","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":126.39452362060547,"y":23.941408157348633,"wires":[["588d14f4.9b25bc"]]},{"id":"588d14f4.9b25bc","type":"moment","z":"355d40e.52038c","name":"","topic":"time","input":"","inputType":"date","inTz":"Europe/Berlin","adjAmount":"2","adjType":"hours","adjDir":"add","format":"","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Berlin","x":277.0195503234863,"y":26.0039119720459,"wires":[["65341b40.08adc4"]]},{"id":"65341b40.08adc4","type":"function","z":"355d40e.52038c","name":"Formatting time","func":"var string=msg.payload;\nvar length = 19;\nstring = string.replace(/T/g,' ');\nstring = string.replace(/Z/g,' ');\nvar trimmedString = string.substring(0, length);\nmsg.payload=trimmedString;\nreturn msg;","outputs":1,"noerr":0,"x":566.0195541381836,"y":20.003910064697266,"wires":[["2e0fc3eb.30f80c","3573f9ad.a86456","a7f9335.dc327d","1779e466.9a137c"]]},{"id":"c77e9d5b.380ca","type":"ui_text","z":"355d40e.52038c","group":"d5370fd5.5e15f","order":4,"width":"10","height":"1","name":"","label":"Nested approach","format":"{{msg.payload}}","layout":"row-spread","x":639.3945503234863,"y":821.2226400375366,"wires":[]},{"id":"2214eb64.70f524","type":"ui_group","z":"","name":"Switch Info","tab":"7c3910e1.8546d","order":2,"disp":true,"width":"6","collapse":false},{"id":"83c527c0.68ed08","type":"ui_group","z":"","name":"PIR Overview","tab":"7c3910e1.8546d","order":1,"disp":true,"width":"6","collapse":false},{"id":"6aeafc6c.c59a34","type":"influxdb","z":"","hostname":"192.168.0.36","port":"8086","protocol":"http","database":"motionsensor","name":"","usetls":false,"tls":""},{"id":"8bfc835f.bb7ca","type":"ui_group","z":"","name":"Current Detection Rate","tab":"7c3910e1.8546d","order":3,"disp":true,"width":"6","collapse":false},{"id":"160a3d00.8f7663","type":"ui_group","z":"","name":"History of Detection Rate","tab":"7c3910e1.8546d","order":4,"disp":true,"width":"6","collapse":false},{"id":"d5370fd5.5e15f","type":"ui_group","z":"","name":"Status","tab":"7c3910e1.8546d","order":5,"disp":true,"width":"10","collapse":false},{"id":"b342184f.d00568","type":"ui_group","z":"","name":"","tab":"a6b0b6a7.ec4d98","disp":true,"width":"27","collapse":false},{"id":"7c3910e1.8546d","type":"ui_tab","z":"","name":"Hybrid Smart Motion Detector ","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a6b0b6a7.ec4d98","type":"ui_tab","z":"","name":"Weekly Summary","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
